
$grey: #f9f7fc;
$secondary: #c4c0cf;
$secondary_2: #eae9ee;
$verytintpurple: #bdb2ef;
$very: #79787d;
$tintpurple: #987bff;
$darkgrey: #787475;
$purple: #5b3ed8;
$orange: #ee7954;
$green: #22a003;

$text: #333333;

* {
  color: $text;
}




